.panel {
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
  -ms-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
  margin-bottom: 0;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1.5em;;
  padding: 3.5em 2.5em 2.5em 2.5em;
}

  .panel.inactive {
    opacity: 0;
  }

  @media screen and (max-width: 736px) {

    .panel {
      padding: 2em 1.5em 1.5em 1.5em;
    }

  } 